apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "simpleflaskapp.fullname" . }}
  labels:
    {{- include "simpleflaskapp.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "simpleflaskapp.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "simpleflaskapp.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: 8000